* {
  overflow: none;
  user-select: none;
}

html,
body,
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.Enemy,
.My {
  position: absolute;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.Enemy {
  top: 0;
}
.My {
  bottom: 0;
}

.EnemyDeck,
.MyDeck {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.EnemyDeck {
  top: 15vh;
  align-items: flex-start;
}

.MyDeck {
  bottom: 15vh;
  align-items: flex-end;
}

.EnemyCastle img,
.MyCastle img {
  height: 10vh;
  width: 10vw;
}

.EnemyCastle {
  position: absolute;
  top: 1vh;
}
.MyCastle {
  position: absolute;
  bottom: 1vh;
}

.EnemyDeck img,
.MyDeck img {
  max-height: 10vh;
  max-width: 15vw;
  margin-left: 4px;
  margin-right: 4px;
}

.HP {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }
}
